<form [formGroup]="form">
  <div class="form-group">
    <div>
    <label for="oldPassword">Old Password</label>
    <input type="text" 
      formControlName="oldPassword"
      id="oldPassword"
      class="form-control">
    <div *ngIf="oldPassword.touched && oldPassword.invalid"
      class="alert alert-danger">
      <div *ngIf="oldPassword.hasError('required')">Current password is required.</div>
      <div *ngIf="oldPassword.hasError('shouldMatch')">Old password is not valid.</div>
    </div>
  </div>
  <div>
    <label for="newPassword">New Password</label>
    <input type="text" 
      formControlName="newPassword"
      id="newPassword"
      class="form-control">
      <div *ngIf="newPassword.touched && newPassword.invalid"
      class="alert alert-danger">New password is required.</div>
    </div>
  <div>
    <label for="confirmPassword">Confirm Password</label>
    <input type="text" 
      formControlName="confirmPassword"
      id="confirmPassword"
      class="form-control">
      <div *ngIf="confirmPassword.touched && confirmPassword.invalid"
        class="alert alert-danger">Please confirm new password.
        </div>
    </div>
    <div *ngIf="form.invalid && form.hasError('passwordsShouldMatch')"
        class="alert alert-danger">Passwords do not match</div>
  </div>
</form>

